.apply {
  position: relative;
  overflow: hidden;
  padding: 60px 100px 74px;
  display: flex;
  justify-content: space-between;
  background-color: var(--violet-color);
  border-radius: 20px;
  z-index: 1;

  @include tablet {
    padding: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    padding: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: var(--accent-color);
    opacity: 0.6;
    filter: blur(75px);
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: var(--electric-color);
    opacity: 0.6;
    filter: blur(75px);
    z-index: -1;
  }

  &__content {
    margin-right: 30px;

    @include tablet {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-transform: uppercase;
    color: var(--light-color);

    @include small-tablet {
      font-size: 32px;
      line-height: 48px;
      text-align: center;
    }

    @include mobile {
      font-size: 20px;
      line-height: 29px;
    }
  }

  &__descr {
    display: block;
    margin: 0;
    max-width: 450px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--light-color);

    @include small-tablet {
      max-width: 100%;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 380px;

    .just-validate-error-label {
      padding-top: 8px;
      color: var(--accent-color) !important;
    }
  }

  &__label {
    @include mb(20px);
  }

  &__input {
    width: 100%;
    height: 47px;
    padding-right: 30px;
    background-color: transparent;
    border-bottom: 1px solid var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--light-color);

    &::placeholder {
      color: var(--light-color);
      opacity: 0.5;
    }

    &:focus {
      outline: 2px solid var(--disco-color);
      outline-offset: 4px;
    }

    &:active {
      color: var(--accent-color);
    }
  }

  &__btn {
    max-width: 100%;
    margin-bottom: 12px;
  }

  &__policy {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--light-color);
    opacity: 0.6;
  }

  &__link {
    color: currentColor;
    text-decoration: underline;

    &:focus {
      outline: 2px solid var(--light-color);
      outline-offset: 4px;
    }

    &:active {
      color: var(--accent-color);
    }
  }

  &__info {
    display: block;
    margin: 0;
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--light-color);
    opacity: 0.6;
  }
}
