.footer {
  padding: 60px;
  background-color: var(--violet-color);

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--light-color);
  }

  &__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--light-color);
  }

  &__subitem {
    @include mb(20px);

    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--light-color);
  }

  &__copy {
    display: inline-flex;
    flex-direction: column;
  }

  &__offer {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);
  }

  &__policy {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);
  }
}
