.hero {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 146px;
  min-height: 757px;
  background-color: var(--violet-color);

  @include tablet {
    padding: 34px 0;
  }

  @include mobile {
    min-height: auto;
  }

  &::after {
    @include kf-scaleY;

    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
    opacity: 0.5;
    filter: blur(150px);
    background-color: var(--accent-color);
    animation: kf-scaleY 3s ease-in-out infinite;
  }

  &::before {
    @include kf-scaleY;

    content: "";
    position: absolute;
    top: 250px;
    right: 100px;
    width: 430px;
    height: 430px;
    opacity: 0.5;
    filter: blur(150px);
    background-color: var(--accent-color);
    animation: kf-scaleY 4s ease-in-out infinite;
  }

  &__container {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: -155px;
      right: -40px;
      width: 580px;
      height: 852px;
      background-image: url(../img/hero-image.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include tablet {
        top: 160px;
        height: 725px;
      }

      @include small-tablet {
        right: -100px;
        z-index: -1;
      }

      @include mobile {
        top: 100px;
        width: 405px;
        height: 505px;
      }
    }
  }

  &__content {
    max-width: 720px;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    max-width: 720px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    color: var(--light-color);

    @include small-tablet {
      font-size: 35px;
      line-height: 52px;
    }

    @include mobile {
      max-width: 300px;
      font-size: 22px;
      line-height: 29px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -22px;
      right: 18px;
      width: 91px;
      height: 88px;
      background-image: url(../img/wb-logo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include mobile {
        width: 33px;
        height: 33px;
        bottom: -10px;
        right: -10px;
      }
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 90px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--light-color);

    @include tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__price {
    font-weight: 700;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 90px;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__item {
    @include mr(40px);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      @include mr(0);

      @include mb(16px);
    }

    &--circle {
      position: relative;
      flex-grow: 1;

      &::after {
        @include kf-rotating;

        content: "";
        position: absolute;
        top: auto;
        left: auto;
        width: 190px;
        height: 190px;
        background-image: url(../img/hero-circle.svg);
        background-size: cover;
        background-position: top left;
        animation: 10s linear infinite kf-rotating;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--light-color);
  }

  &__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__btns {
    display: flex;

    .btn--stroke-full {
      max-width: 160px;
    }
  }

  &__btn {
    margin-right: 20px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__link {
    @include tablet {
      display: none;
    }
  }

  &__author {
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    background-color: var(--disco-color);
    box-shadow: 4px 4px 0px 1px var(--loulou-color);
    border-radius: 10px;

    @include tablet {
      display: none;
    }
  }

  &__position {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-color);
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-color);
  }
}
