.nav {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80vh;
    padding: 100px;
    background-color: var(--burder-bg-color);
    opacity: 0.9;
    backdrop-filter: blur(3px);
    border-radius: 0px 0px 12px 12px;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  @include mobile {
    padding: 50px;
    height: 60vh;
  }

  &__list {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    @include mr(30px);

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);

    @include tablet {
      @include mr(0);

      @include mb(20px);
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    color: currentColor;

    @include tablet {
      font-size: 40px;
      line-height: 58px;
    }

    @include mobile {
      font-size: 32px;
      line-height: 48px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      border-radius: 2px;
      background-color: var(--accent-color);
      opacity: 0;
      transform-origin: left center;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:focus {
      outline: 2px solid var(--disco-color);
      outline-offset: 4px;
    }

    @include hover {
      &::after {
        @include kf-scaleX;

        opacity: 1;
        animation: kf-scaleX 0.3s linear forwards;
      }
    }

    &:active {
      color: var(--accent-color);
    }
  }
}

.nav.menu--active {
  transform: none;
}
