.program {
  background-color: var(--light-color);

  &__title {
    margin-bottom: 40px;
  }

  &__accordions {
    margin-bottom: 100px;
  }

  &__accordion {
    @include mb(30px);
  }

  .apply {
    max-width: 100%;
  }
}
