.speaker {
  background-color: var(--light-color);

  &__info {
    @include flex-all-sb;

    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translateY(-50%);
      width: 467px;
      height: 467px;
      background-color: var(--electric-color);
      filter: blur(85px);
      border-radius: 100%;
      z-index: -1;
    }
  }

  &__content {
    max-width: 650px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    text-transform: uppercase;
    color: var(--violet-color);
  }

  &__item {
    @include mb(20px);

    position: relative;
    padding-left: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--violet-color);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background: var(--accent-color);
      border-radius: 4px;
    }
  }

  &__image {
    display: block;
  }
}
