<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Групповое наставничество
        по продажам на</h1>
      <p class="hero__text">Помогаю выйти на оборот от <span class="hero__price">1 000 000 ₽</span> в месяц</p>
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <h2 class="hero__subtitle">Старт</h2>
          <span class="hero__descr">15 апреля</span>
        </li>
        <li class="hero__item">
          <h2 class="hero__subtitle">Длительность</h2>
          <span class="hero__descr">2 месяца</span>
        </li>
        <li class="hero__item">
          <h2 class="hero__subtitle">Формат</h2>
          <span class="hero__descr">Онлайн</span>
        </li>
        <li class="hero__item hero__item--circle">
          <span class="hero__descr">15 мест</span>
        </li>
      </ul>
      <div class="hero__btns">
        <button class="hero__btn btn btn-reset" aria-label="Принять участие">Принять участие</button>
        <button class="hero__btn btn btn--stroke btn--stroke-full btn-reset"
          aria-label="Наша программа">Программа</button>
      </div>
    </div>
    <div class="hero__author">
      <span class="hero__position">наставник по маркетплейсам</span>
      <span class="hero__name">Сергей Поталинский</span>
    </div>
  </div>
</section>
