<section class="speaker section-offset" id="speaker">
  <div class="container">
    <div class="speaker__info">
      <div class="speaker__content" data-aos="fade-left" data-aos-duration="1000">
        <h2 class="speaker__title">Наставник - Сергей поталинский</h2>
        <ul class="speaker__list list-reset">
          <li class="speaker__item">Селлер с годовым оборотом магазинов более 5 000 000 руб.</li>
          <li class="speaker__item">Наставник по маркетплейсам</li>
          <li class="speaker__item">Один из владельцев интернет-магазина Applepack, в котором мы с партнёрами сделали
            оборот более 345 млн. руб. с 2015 года</li>
        </ul>
      </div>
      <picture>
        <source media="(min-width: 576px)" srcset="img/speaker-image_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/speaker-image.webp" type="image/webp">
        <source srcset="img/speaker-image.webp" type="image/webp">
        <img loading="lazy" src="img/speaker-image.png" srcset="speaker-image__2x.png 2x" class="speaker__image"
          width="547" height="620" alt="Наставник - Сергей поталинский" data-aos="fade-right" data-aos-duration="1000">
      </picture>
    </div>
    <div class="results-stat">
      <h3 class="results-stat__title">Мои результаты</h3>
      <button class="results-stat__btn-prev results-stat__btn btn-reset" aria-label="Предыдущий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="results-stat__btn-next results-stat__btn btn-reset" aria-label="Следующий слайд">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <div class="results-stat__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a class="results-stat__link" data-fslightbox="gallery-1" href="img/result-1_2x.jpg">
              <picture>
                <source media="(min-width: 576px)" srcset="img/result-1_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/result-1.webp" type="image/webp">
                <source srcset="img/result-1.webp" type="image/webp">
                <img loading="lazy" src="img/result-1.jpg" srcset="img/result-1_2x.jpg 2x" class="results-stat__image"
                  width="960" height="543" alt="Статистика продаж на Wildberries">
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="results-stat__link" data-fslightbox="gallery-2" href="img/result-1_2x.jpg">
              <picture>
                <source media="(min-width: 576px)" srcset="img/result-1_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/result-1.webp" type="image/webp">
                <source srcset="img/result-1.webp" type="image/webp">
                <img loading="lazy" src="img/result-1.jpg" srcset="img/result-1_2x.jpg 2x" class="results-stat__image"
                  width="960" height="543" alt="Статистика продаж на Wildberries">
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="results-stat__link" data-fslightbox="gallery-3" href="img/result-1_2x.jpg">
              <picture>
                <source media="(min-width: 576px)" srcset="img/result-1_2x.webp 2x" type="image/webp">
                <source media="(max-width: 575px)" srcset="img/result-1.webp" type="image/webp">
                <source srcset="img/result-1.webp" type="image/webp">
                <img loading="lazy" src="img/result-1.jpg" srcset="img/result-1_2x.jpg 2x" class="results-stat__image"
                  width="960" height="543" alt="Статистика продаж на Wildberries">
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="results-stat__nav swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 576px)" srcset="img/result-nav-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/result-nav-1.webp" type="image/webp">
              <source srcset="img/result-nav-1.webp" type="image/webp">
              <img loading="lazy" src="img/result-nav-1.jpg" srcset="img/result-nav-1_2x.jpg 2x"
                class="results-stat__nav-image" width="48" height="48" alt="Статистика продаж на Wildberries">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 576px)" srcset="img/result-nav-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/result-nav-1.webp" type="image/webp">
              <source srcset="img/result-nav-1.webp" type="image/webp">
              <img loading="lazy" src="img/result-nav-1.jpg" srcset="img/result-nav-1_2x.jpg 2x"
                class="results-stat__nav-image" width="48" height="48" alt="Статистика продаж на Wildberries">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 576px)" srcset="img/result-nav-1_2x.webp 2x" type="image/webp">
              <source media="(max-width: 575px)" srcset="img/result-nav-1.webp" type="image/webp">
              <source srcset="img/result-nav-1.webp" type="image/webp">
              <img loading="lazy" src="img/result-nav-1.jpg" srcset="img/result-nav-1_2x.jpg 2x"
                class="results-stat__nav-image" width="48" height="48" alt="Статистика продаж на Wildberries">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
