<section class="tariffs section-offset" id="tariffs">
  <div class="container">
    <h2 class="tariffs__title title">Тарифы</h2>
    <ul class="tariffs__list list-reset grid">
      <li class="tariffs__item">
        <div class="tariffs__top">
          <h3 class="tariffs__type">Стандарт</h3>
          <span class="tariffs__time">6 недель</span>
        </div>
        <div class="tariffs__content">
          <h4 class="tariffs__subtitle">Обучение</h4>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              Модуль № 1: Тестирование спроса и поиск точек роста
            </li>
            <li class="tariffs__subitem">
              Модуль № 2: Закупка и продажа
            </li>
            <li class="tariffs__subitem">
              Модуль № 3: Маркетинг и клиентский сервис
            </li>
            <li class="tariffs__subitem tariffs__subitem--underline">
              Модуль № 4: Масштабирование
            </li>
          </ul>
          <h5 class="tariffs__subtitle">Дополнительно</h5>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              База знаний
            </li>
            <li class="tariffs__subitem">
              Проверка ДЗ
            </li>
            <li class="tariffs__subitem">
              Обратная связь в чате
            </li>
          </ul>
        </div>
        <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
          стоимость</button>
      </li>
      <li class="tariffs__item">
        <div class="tariffs__top">
          <h3 class="tariffs__type">Бизнес</h3>
          <span class="tariffs__time">8 недель</span>
        </div>
        <div class="tariffs__content">
          <h4 class="tariffs__subtitle">Обучение</h4>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              Модуль № 1: Тестирование спроса и поиск точек роста
            </li>
            <li class="tariffs__subitem">
              Модуль № 2: Закупка и продажа
            </li>
            <li class="tariffs__subitem">
              Модуль № 3: Маркетинг и клиентский сервис
            </li>
            <li class="tariffs__subitem">
              Модуль № 4: Масштабирование
            </li>
          </ul>
          <h5 class="tariffs__subtitle">Дополнительно</h5>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              База знаний
            </li>
            <li class="tariffs__subitem">
              Проверка ДЗ
            </li>
            <li class="tariffs__subitem">
              Обратная связь в чате
            </li>
          </ul>
        </div>
        <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
          стоимость</button>
      </li>
      <li class="tariffs__item tariffs__item--current">
        <div class="tariffs__top">
          <h3 class="tariffs__type">VIP</h3>
          <span class="tariffs__time">3 месяца</span>
        </div>
        <div class="tariffs__content">
          <h4 class="tariffs__subtitle">Обучение</h4>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              Все модули обучения
            </li>
          </ul>
          <h5 class="tariffs__subtitle">Дополнительно</h5>
          <ul class="tariffs__sublist list-reset">
            <li class="tariffs__subitem">
              Личное ведение
            </li>
            <li class="tariffs__subitem">
              Вывод на оборот 3 000 000 руб.
            </li>
            <li class="tariffs__subitem">
              Работа с моей командой на старте
            </li>
            <li class="tariffs__subitem">
              Выстраивание вашей собственной команды, помощь в поиске и найме сотрудников
            </li>
            <li class="tariffs__subitem">
              Личный отбор
            </li>
          </ul>
        </div>
        <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
          стоимость</button>
      </li>
    </ul>
  </div>
</section>
