<section class="tariffs section-offset" id="tariffs">
  <div class="container">
    <h2 class="tariffs__title title">Тарифы</h2>
    <div class="tariffs__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="tariffs__info">
            <div class="tariffs__top">
              <h3 class="tariffs__type">Стандарт</h3>
              <span class="tariffs__time">6 недель</span>
            </div>
            <div class="tariffs__content">
              <h4 class="tariffs__subtitle">Обучение</h4>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  Модуль № 1: Тестирование спроса и поиск точек роста
                </li>
                <li class="tariffs__item">
                  Модуль № 2: Закупка и продажа
                </li>
                <li class="tariffs__item">
                  Модуль № 3: Маркетинг и клиентский сервис
                </li>
                <li class="tariffs__item tariffs__item--underline">
                  Модуль № 4: Масштабирование
                </li>
              </ul>
              <h5 class="tariffs__subtitle">Дополнительно</h5>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  База знаний
                </li>
                <li class="tariffs__item">
                  Проверка ДЗ
                </li>
                <li class="tariffs__item">
                  Обратная связь в чате
                </li>
              </ul>
            </div>
            <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
              стоимость</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tariffs__info">
            <div class="tariffs__top">
              <h3 class="tariffs__type">Бизнес</h3>
              <span class="tariffs__time">8 недель</span>
            </div>
            <div class="tariffs__content">
              <h4 class="tariffs__subtitle">Обучение</h4>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  Модуль № 1: Тестирование спроса и поиск точек роста
                </li>
                <li class="tariffs__item">
                  Модуль № 2: Закупка и продажа
                </li>
                <li class="tariffs__item">
                  Модуль № 3: Маркетинг и клиентский сервис
                </li>
                <li class="tariffs__item">
                  Модуль № 4: Масштабирование
                </li>
              </ul>
              <h5 class="tariffs__subtitle">Дополнительно</h5>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  База знаний
                </li>
                <li class="tariffs__item">
                  Проверка ДЗ
                </li>
                <li class="tariffs__item">
                  Обратная связь в чате
                </li>
              </ul>
            </div>
            <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
              стоимость</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tariffs__info tariffs__info--current">
            <div class="tariffs__top">
              <h3 class="tariffs__type">VIP</h3>
              <span class="tariffs__time">3 месяца</span>
            </div>
            <div class="tariffs__content">
              <h4 class="tariffs__subtitle">Обучение</h4>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  Все модули обучения
                </li>
              </ul>
              <h5 class="tariffs__subtitle">Дополнительно</h5>
              <ul class="tariffs__list list-reset">
                <li class="tariffs__item">
                  Личное ведение
                </li>
                <li class="tariffs__item">
                  Вывод на оборот 3 000 000 руб.
                </li>
                <li class="tariffs__item">
                  Работа с моей командой на старте
                </li>
                <li class="tariffs__item">
                  Выстраивание вашей собственной команды, помощь в поиске и найме сотрудников
                </li>
                <li class="tariffs__item">
                  Личный отбор
                </li>
              </ul>
            </div>
            <button class="tariffs__btn btn btn--stroke-light btn-reset" aria-label="Узнать стоимость">Узнать
              стоимость</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
