<section class="training">
  <div class="training__container container-fluid">
    <h2 class="training__title title">как проходит обучение</h2>
    <ul class="training__list list-reset grid">
      <li class="training__item">
        <h3 class="training__subtitle">8 созвонов</h3>
        <p class="training__descr">В течение 2 месяцев каждую неделю проводим созвон, на котором мы разбираем:</p>
        <ol class="training__sublist">
          <li class="training__subitem">Уроки с материалами курса</li>
          <li class="training__subitem">Результаты участников созвона</li>
          <li class="training__subitem">Домашние задания</li>
          <li class="training__subitem">Ваши вопросы</li>
        </ol>
      </li>
      <li class="training__item">
        <h3 class="training__subtitle">Домашние задания</h3>
        <p class="training__descr">После урока вы получаете домашние задания, которые помогут на практике закрепить
          знания</p>
      </li>
      <li class="training__item">
        <h3 class="training__subtitle">Записи созвонов</h3>
        <p class="training__descr">Вы может посмотреть уроки в удобное время. Каждый участник получит доступ к записям
          Zoom-созвонов.</p>
      </li>
      <li class="training__item">
        <h3 class="training__subtitle">Общий чат</h3>
        <p class="training__descr">После оплаты вы попадаете в общий чат, где сможете задать свои вопросы, поделиться
          успехами и просто пообщаться с единомышленниками</p>
      </li>
    </ul>
  </div>
</section>
