// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --second-family: "DelaGothicOne", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --content-fluid-width: 1380px;
  --container-fluid-offset: 15px;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-fluid-offset) * 2)
  );

  // colors
  --light-color: #ffffff;
  --selago-color: #f4f2fd;
  --accent-color: #e1016e;
  --disco-color: #961975;
  --violet-color: #21093a;
  --loulou-color: #5f0b57;
  --meteorite-color: #4c217a;

  //gradient
  --main-gradient: linear-gradient(to left, #e5006d, #4c217a, #dc046d);
  --stroke-gradient-black: linear-gradient(
    to left,
    rgba(229, 0, 109, 0),
    rgba(76, 33, 122, 0),
    rgba(220, 4, 109, 0)
  );
  --stroke-gradient-light: linear-gradient(to left, #ffffff, #f2f2f2);

  //animation
  --animation-primary: cubic-bezier(0.7, 0, 0.3, 1);
}
